<div style="text-align: center;align-items: center;vertical-align: middle;">
  <img style="vertical-align: middle;max-width :40vw"src="https://static.vecteezy.com/system/resources/previews/024/806/033/non_2x/waves-splashing-error-404-flash-message-ocean-splash-water-sports-seaside-resort-empty-state-ui-design-page-not-found-popup-cartoon-image-flat-illustration-concept-on-white-background-vector.jpg"/>
  <h1 style="text-align: center;color: rgb(121, 158, 170);font-family:monospace;font-size: 2em;" >PAGE NOT FOUND</h1>
</div>
<!-- Just to check -->
