.bg-img{
  background-size:contain;
  background-position:center;
  background-color: rgba(98, 207, 251, 0.485);
  background-repeat: no-repeat;
  color: #ffffff;
  min-height: 90vh;
  text-shadow: 2px 2px 2px rgba(0,0,0,0);
}
.card{
  height: 30%;
  color: white;
  background-color: rgba(255, 255, 255, 0.875);
  text-align: center;
  background: rgba(0, 0, 0, 0.107);
}

.card:hover{
  height: 45%;
  background-color: rgba(255, 255, 255, 0.284);

}

