.bg-img{
  background-size: cover;
  color: #ffffff;
  min-height: 80vh;
  text-shadow: 2px 2px 2px rgba(0,0,0,4);

}
.color-overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
}

.bg-img .block
{
  position: absolute;
  left: 5vw;
  right: 5vw;
  top: 50vh;

}

@media (max-width: 768px){
  .bg-img{
    height: 50vh;
  }
  h1{
    font-size: calc(1.0rem + 3.0vw);
  }
}
