.bg-img{
  background-size: cover;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0,0,0,3);
}
.color-overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
}
h1{
  font-size: 2rem;
}
h2{
  color: rgba(236, 187, 80, 0.945);
}
.img-thumbnail{
  border-radius: 25px;
  background-color: rgba(236, 187, 80, 0.945) ;
  border-color: yellow;
}

@media (max-width: 768px){
  .bg-img{
    height: 30vh;
  }
  h1{
    font-size: calc(1.0rem + 2.0vw);
  }
  .h-sm-70{
    height: 15vh;
  }
  .px-sm-5{
    padding-left: 55px;
    padding-right: 55px;
  }
}
@media (min-width: 768px) {
  .h-sm-70{
    height: 30vh;
  }
}
