<div class="text-white w-100 bg-img h-sm-70" style="background-size: cover; background-image: url('../../../assets/images/Centres and Facilities/Cover_Page_C&F.jpg');">
  <div class="color-overlay">
    <div class="row row-cols-md-3 align-items-center justify-content-left h-sm-70 px-5 mx-5 w-100" >
      <h1 class="text-left" >Centres and Facilities</h1>
    </div>
  </div>
</div>
<div class="container px-5" style="background-color:white;">
  <div class="row my-5">
    <img class="col-md-6 col-sm-12 m-2  img-thumbnail "src="../../../assets/images/Centres and Facilities/IoT_inaug.png">
    <span class="d-none d-md-inline" style="width: 3px"></span>
    <div class="col-md-5 col-sm-12 m-2 py-1">
      <h2>Internet of Things (IoT)</h2>
      <p>An Internet of Things (IoT) Laboratory is setup in the Centre under collaboration with the alpha TKG group, Japan. The IoT Lab was inaugurated on 5th October, 2016 by  Dr. K. Paneer Selvam, Joint Registrar, IISc and Mr. Toshio Takagi, CEO, alfaTKG, Japan. The main thrust of the lab would be on development of sensor, communication and other technologies to help in monitoring, management and control of water systems at various spatial and time scales.  The first project under in this initiative is the “IoT applications on water at IoT Laboratory“
      <br>The Internet of Things (IoT) is set to  transform the agriculture industry by enabling farmers to contend with the enormous challenges faced by them. The farmers in India  must overcome increasing water shortages, limited availability of land, difficult to manage operational costs, while meeting the increasing consumption needs of our country .
      <br>The IoT laboratory at the Interdisciplinary Centre for Water research will focus on new research areas for addressing these issues and increasing the quality, quantity, sustainability and cost effectiveness of agricultural production. The primary focus of this research work is to effectively utilize IoT enabled technologies to remotely monitor and measure soil moisture, crop growth and livestock feed levels  along with the performance of  harvesters and optimization of  irrigation equipment. The researchers will actively  utilize  artificial intelligence based analytics to quickly analyze operational data combined with 3rd party information, such as weather services, Electricity services & storage position in reservoirs to provide new insights and improve decision making for farmers.
      </p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-5 col-sm-12 m-2 py-1 ">
      <h2>Soil Temperature Monitoring System (STMS)</h2>
      <p>The value of soil moisture measurement in many research, industrial and agricultural fields are necessary for managing water resources effectively. However, collecting data from the field is time-consuming and can be expensive. To automate data collection and data logging, a system was developed using the proven Watermark solid state, electric resistance type sensor and cellular network and internet database real-time monitoring. Now, the STMS can wirelessly download data from soil moisture and temperature sensors directly into your computer from any part of the world.</p>
    </div>
    <span class="d-none d-md-inline" style="width: 3px"></span>
    <img class="col-md-6 col-sm-12 m-2  img-thumbnail "src="../../../assets/images/Centres and Facilities/STMS.jpg">
  </div>
  <div class="row my-5">
    <img class="col-md-6 col-sm-12 m-2  img-thumbnail "src="../../../assets/images/Centres and Facilities/SMTMS.jpg">
    <span class="d-none d-md-inline" style="width: 3px"></span>
    <div class="col-md-5 col-sm-12 m-2 py-1">
      <h2>Soil Moisture and Temperature Monitoring system (SMTMS)</h2>
      <p>The value of soil moisture and temperature measurement in many research, industrial and agricultural are necessary for managing water resources effectively. However, collecting data from the field is time-consuming and can be expensive. To automate data collection and data logging, a system was developed using the proven Watermark solid state, electric resistance type sensor and cellular network and internet database real-time monitoring. Now, the SMTMS can wirelessly view, analyse and download data from soil moisture and temperature sensors directly into your computer from any part of the world</p>
    </div>
  </div>
  <div class="row  my-5">
    <div class="col-md-5 col-sm-12 m-2 py-1">
      <h2>Cluster</h2>
      <p>ICWaR has deployed a computer cluster to improve performance and availability over that of a single computer, while typically being much more cost-effective than single computers of comparable speed or availability. This is used by students for the efficient results.</p>
    </div>
    <span class="d-none d-md-inline" style="width: 3px"></span>
    <div class="col-md-6 col-sm-12  m-2 ">
      <img class="col-6  img-thumbnail "src="../../../assets/images/Centres and Facilities/Cluster1.jpg">
      <img class="col-6  img-thumbnail" src="../../../assets/images/Centres and Facilities/Cluster2.jpg">
    </div>
  </div>
</div>
