<div class="container justify-content-center bg-light">
  <div class="container row justify-content-center ">
    <ng-container class="row p-4" *ngFor="let parent of designationNames;index as i">
      <h1 class="p-4 text-center text-capitalize text-dark">{{parent}}</h1>
      <ng-container *ngFor="let row of staffUnderDesignation[i]" >
        <div class="card col-md-2 m-1 " style="box-shadow: 1px 1px 10px 1px black;" >
          <img class="p-1 card-img card-img-top shadow"  [src]="row.imgSrc"/>
          <h4 class="card-title card-header" style="font-size: small;font-weight: bold;">{{row.name}}</h4>
            <div class="card-body" >
              <h6 class="card-text" style="font-size: smaller;">{{row.department}}</h6>
              <h6 class="card-text " style="font-size: smaller;">{{row.phoneNo }}</h6>
              <h6 class="card-text"  style="font-size: smaller;">{{row.email}}</h6>
            </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
