<div id="Main" class="row justify-content-center d-flex bg-light align-items-center w-100" style="max-width: 100vw;">

  <div class="d-flex mt-5 " style="margin-left: 25vw;width: 100vw;">
    <h1 class="float-start" >Publications</h1>
  </div>
  <hr>
  <div  class="row d-flex mx-5 p-5">

    <!-- Main Body Start 3 col division -->
    <div class="col-md-3 d-none d-md-table-row py-5 ps-5 p-2 mt-5" style="width: 20vw;max-height: fit-content;position: sticky;top:0">
      <h3 >Links</h3>
      <div class="proffesorsSideNavHighlight ps-3" style="line-height: 3em;">
        <ng-container *ngFor="let item of publications;index as facultyIndex">
          <a (click)="updateHighlghtedProffName(facultyIndex)" [ngClass]="facultyIndex==0?'font-highlight':null" class="dropdown-item" [href]="'/publications#'+facultyIndex">{{item.name}}</a>
        </ng-container>
        <hr>
    </div>
    </div>



    <table id='Publications' class="justify-content-center col-md-9 col-sm-12 d-flex" style="border: #8D8741 solid 1px;">
      <tr class="text-center row text-capitalize pt-3" style="height: 50px;background-color: #DAAD86;">
        <th class="col-3">Name</th>
        <th class="col-4">Title</th>
        <th class="col-4">Link</th>
      </tr>
      <tbody>
      <ng-container *ngFor="let item of publications;index as facultyIndex">
        <ng-container *ngFor="let row of item.publicationsList;index as i">
        <tr [id]="i==0?facultyIndex:null"  class="row" style="border: #8D8741 solid 1px;">
          <div class="border col-4" >{{item.name}}</div>
            <div class="border col-4 " >{{row.text}}</div>
            <div class="border col-4"><a [href]="row.links">{{row.links}}</a></div>
          </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>

  </div>
</div>
