.scroll-container {
  white-space: nowrap;
  animation: my-animation 4s linear infinite;

  display: flex;
  position: relative;
  justify-content: flex-start;
  transition: all 2s ease;
  transform: scale(2);
}


@keyframes my-animation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.overlay-dark {
  background-color: rgba(black, 0.4);
}
