<!-- On Load Animation-->
<!-- <div class="start-cover-animation justify-content-center align-items-center" style="max-width: 100%;">
  <div class="row justify-content-center align-items-center" >
    <h1 class="text-each-letter-fade text-center col-12">ICWaR</h1>
    <h3 class="text-each-letter-fade text-center col-12" >Interdisciplinary Centre for Water Research(ICWaR)</h3>
  </div>
</div> -->
<!--  ---------NavBar-----------  -->
<nav id="nav" class="navbar navbar-expand-lg px-2" style="padding-bottom: 0;">
  <!-- <div [ngClass]="screenWidth<786?'d-inline-flex':'container-fluid'"> -->
    <button class="navbar-toggler float-right" style="box-shadow: 1px 1px 5px 1px rgba(0, 166, 255, 0.482);" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="d-lg-none d-sm-grid" href="#"><img width="150px" src="../assets/images/logo-icwar.png" class="shadow border border-2 border-light " style="border-radius: 5px;"></a>
  <!-- </div> -->
  <div class="text-center row collapse navbar-collapse justify-content-end" id="navbarSupportedContent" [style]="configurations.navbar.style">


    <a class="d-none d-lg-block col-3" href="#"><img width="150px" src="../assets/images/logo-iisc.png" class="bg-white"></a>
    <h3 class="d-none d-lg-block align-self-center col-6">
      Interdisciplinary Centre for Water Research (ICWaR) <br> IISc Bangalore
    </h3>
    <a class="d-none d-lg-block col-3" href="#"><img width="150px" src="../assets/images/logo-icwar.png" class="shadow border border-2 border-light " style="border-radius: 5px;"></a>

    <ul class="navbar-nav justify-content-center" [style]="configurations.navbar.navLinks" >
        <li class="nav-item">
          <a class="nav-link" href="#" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/research">Research</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/null">Collaborations</a>
        </li>
        <li class="dropdown nav-item">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            People
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="text-shadow: none;" [ngStyle]="configurations.navbar.facultyDropDown.style" >
            <a class="dropdown-item " href="/people?type=faculty">Faculty</a>
            <a class="dropdown-item " href="/people?type=visitors">Visitors</a>
            <a class="dropdown-item " href="/people?type=researchStudents">Research Students</a>
            <a class="dropdown-item " href="/people?type=postDoctoralScholars">Post Doctoral Scholars</a>
            <a class="dropdown-item " href="/people?type=projectStaff">Project Staff</a>
            <a class="dropdown-item " href="/people?type=officeStaff">Office Staff</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/publications">Publications</a>
        </li>
        <li class="dropdown nav-item">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Events
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" [ngStyle]="configurations.navbar.eventsDropDown.style" >
            <a class="dropdown-item " href="/events/seminars-and-publications">Seminars</a>
            <a class="dropdown-item " href="/events/workshop-and-meetings">Workshop & Meetings</a>
            <a class="dropdown-item " href="/events/monsoon-school">Monsoon School</a>
          </div>
        </li>
        <li class="dropdown nav-item">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" [ngStyle]="configurations.navbar.moreDropDown.style" >
            <a class="dropdown-item " href="/centres-and-facilities">Center & Facilities</a>
            <a class="dropdown-item " href="/about-us">About Us</a>
            <a class="dropdown-item " href="/contact-us">Contact Us</a>
            <a class="dropdown-item " href="/gallery">Gallery</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" onclick="window.open('https://cefirse.ird.fr')" href="">IndoFrench Cell</a>
        </li>
      </ul>
  </div>
</nav>
<!--  --------------------  -->
<router-outlet></router-outlet>

<!-- ---------Footer -------------- -->
<footer class="w-100 text-white footer p-4" [ngStyle]="configurations.footer.style" style="border-top: 1px solid rgb(205, 14, 27);width: 100vw;">
  <!-- <h5>ICWaR, IIsc</h5> -->
  <!-- <div class="w-100" style="height: 1px;background-color: rgba(240, 248, 255, 0.458);box-shadow: 1px 1px 10px 1px rgba(74, 127, 234, 0.863);"></div> -->
  <div class="row d-flex">
    <div class="col-sm-12 col-md-4 mb-sm-1 mb-md-0" style="font-size: small;">
    <iframe class="auto-map-width" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15549.240409869766!2d77.5682368!3d13.0159138!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6a432b714a8f5510!2sInterdisciplinary%20Centre%20For%20Water%20(ICWaR)!5e0!3m2!1sen!2sin!4v1635187430526!5m2!1sen!2sin"></iframe>
    <br><span style="text-align: left;">Interdisciplinary Centre for Water Research,<br>
      Indian Institute of Science, Bangalore – 560012</span>
    </div>

    <div class="col-sm-12 col-md-4 py-4 py-md-0 text-center mt-5" >
        <a  href="/" class="col-2 fa fa-2x fa-youtube mx-2 text-white"></a>
        <a  href="/" class="col-2 fa fa-2x fa-twitter mx-2 text-white"></a>
        <a  href="/" class="col-2 fa fa-2x fa-instagram mx-2 text-white"></a>
    </div>


    <div class="offset-md-1 col-sm-12 col-md-3 float-md-right ">
      <h5>Quick Contact</h5>
      <form class="form-inline" action={{configurations.spreeMailUrl}} method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control  bg-transparent text-white" required>
        <label for="message">Message</label>
        <textarea name="message" class="form-control text-white bg-transparent"  rows="4" placeholder="Enter your message" required></textarea>
        <button type="submit" class=" bg-light btn shadow-lg my-2">Send</button>
      </form>
    </div>

  </div>


  <p class="mb-0 p-3 text-muted" style="text-align:left;" [style.font-size]="screenWidth<768?'xx-small':'x-small'">
    Copyright © 2023 ICWaR, IISC
    <span style="float:right;">
        Designed by Archit R Bubber.
    </span>
  </p>
</footer>
