.nav-item{
  margin-inline: 10px;
}

.text-muted{
  color: rgba(248, 242, 242, 0.442)!important
}

.auto-map-width{
  width: 100%;
  height: 200px;
}

.dropdown-menu{

  border-radius: 10px;
  border:#0e0e0e;
  border-bottom: 10px;

}
.dropdown {
  .dropdown-menu {
      transition: all 0.5s;
      overflow: hidden;
      transform-origin: top center;
      transform: scale(1,0);
      display: block;
  }
  &:hover {
      .dropdown-menu {
          transform: scale(1);
      }
  }
}
.dropdown-item{
  color: white;
}

.dropdown-item:hover{
  background-color: #e9e8e4;
  color: black;
}

@media (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    /* remove the gap so it doesn't close */
  }
  .auto-map-width{
    width: 70%;
  }
}

@keyframes displayRemove{
  from{
    // display: inline !important;
  }
  to{
    opacity: 0.6;
    height: 0vh;
  }
}


@keyframes highlight{
  20%{
    text-shadow: white -4px -1px 10px;
  }
    50%{
    text-shadow: white 2px 2px 10px;
  }
    70%{
    text-shadow: white 2px 1px 5px;
  }
  100%{
    text-shadow:none
  }
}
