<!--  ---------NavBar-----------  -->
<nav class="navbar navbar-expand-lg navbar-light ps-1" >
  <div [ngClass]="screenWidth<786?'d-inline-flex':'container-fluid'">
    <a class="float-left" href="#"><img src="../assets/images/logo-icwar.png" class="w-25 shadow border border-2 border-light " style="border-radius: 5px;"></a>
    <div class="w-25 d-sm-none d-md-block "></div>
    <button class="navbar-toggler float-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <!-- <div style="width:30vw" class="d-sm-none d-md-inline"></div> -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/research">Research</a>
        </li>
        <li class="nav-item dropdown ">
          <a  class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            People
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
            <a class="dropdown-item " href="/faculty">Faculty</a>
            <a class="dropdown-item " href="*">Visitors</a>
            <a class="dropdown-item " href="*">Research Stuents</a>
            <a class="dropdown-item " href="*">Post Doctoral Scholars</a>
            <a class="dropdown-item " href="*">Project Staff</a>
            <a class="dropdown-item " href="*">Office Staff</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about-us">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" onclick="window.open('https://cefirse.ird.fr')" href="">IndoFrench Cell</a>
        </li>
        <!-- <li class="search-container ">
          <form action="/search" method="get">
            <input class="search expandright" id="searchright" type="search" name="q" placeholder="Search">
            <label class="button searchbutton" for="searchright"><span class="bg-dark btn-dark" >&#9906;</span></label>
          </form>
        </li> -->
      </ul>
  </div>
</nav>
<!--  --------------------  -->
<router-outlet></router-outlet>

<!-- ---------Footer -------------- -->
<footer [ngClass]="screenWidth<768?'p-4':'p-5'" class="footer text-white" style="background-color: #0e0e0e; line-height: 25px;">
  <h5>ICWaR, IIsc</h5>
  <div class="w-100" style="height: 1px;background-color: rgba(240, 248, 255, 0.458);box-shadow: 1px 1px 10px 1px rgba(74, 127, 234, 0.863);"></div>
  <div class="row row-cols-sm-1 row-cols-md-3 p-md-4 mx-md-4 my-2 ">
    <div class="col">
    <iframe [class]="screenWidth<768?'w-100':null" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15549.240409869766!2d77.5682368!3d13.0159138!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6a432b714a8f5510!2sInterdisciplinary%20Centre%20For%20Water%20(ICWaR)!5e0!3m2!1sen!2sin!4v1635187430526!5m2!1sen!2sin"></iframe>
    <br><span style="text-align: left;font-size: small;">Interdisciplinary Centre for Water Research,<br>
      Indian Institute of Science, Bangalore – 560012</span>
    </div>
    <div style="height: 2vh;" class="d-sm-block d-md-none"></div>
    <div class="row col-sm-1 col-md-3 text-md-center" >
      <span  class="header col" style="height: 1px;width: 1px;">User Link</span>
      <a class="text-muted " style="height: 1px;width: 1px;" href="blog">Blog</a>
      <a class="text-muted" style="height: 1px;width: 1px;" href="contact-us">Contact</a>
      <a class="text-muted" style="height: 1px;width: 1px;" href="about">About</a>
    </div>
    <div style="height: 2vh;" class="d-sm-block d-md-none"></div>
    <div class="col-2 d-sm-none d-md-block"></div>
    <div class="col-sm-1 col-md-3 float-right" style="font-size: x-small;">
      <h5>Quick Contact</h5>
      <form class="form-inline">
        <label for="email">Email</label>
        <input type="email" class="form-control  bg-transparent" required>
        <label for="message">Message</label>
        <textarea class="form-control  bg-transparent"  rows="4" placeholder="Enter your message" required></textarea>
        <button type="submit" class=" bg-light btn shadow-lg my-2">Send</button>
      </form>
    </div>
  </div>
  <p class="mb-0 pb-0 text-muted " style="text-align:left;" [style.font-size]="screenWidth<768?'xx-small':'x-small'">
    Copyright © 2023 ICWaR, IISC
    <span style="float:right;">
        Designed by Archit R Bubber.
    </span>
  </p>
</footer>
