.nav-item{
  margin-inline: 10px;
}
.text-muted{
  color: rgba(248, 242, 242, 0.442)!important
}
.auto-map-width{
  width: 100%;
}
/////////////////////
.button {
	display: block;
	margin: 4px 2px;
	font-size: 14px;
	padding-left: 32px;
	padding-right: 32px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.dropdown-item{
  color: white;
  text-shadow: none;
}
.nav-item > .nav-link{
  color:#fff;
}
.dropdown-item:hover{
  background-color: rgba(210, 180, 140, 0.833);
}
@media (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
  }
  .auto-map-width{
    width: 70%;
  }
}
