<div class="contact-us" style="font-family: Numans;">
  <h1>Contact Us</h1></div>
<div class="container" style="font-family: Numans;">
    <div class="row">
      <div class="col-md-6">
        <div class="contact-text">
          <div class="contact-info">
            <h2 class="heading">Chair</h2>
            <p class="address">Interdisciplinary Centre for Water Research,
            <br>Indian Institute of Science,
            <br>Bangalore – 560012, India</p>
            <p class="email"><strong>Email:</strong> <a href="mailto:chair.icwar@iisc.ac.in"> chair.icwar@iisc.ac.in</a>
            <br><strong>Tel.: </strong>   +91 80 2293 2740
            <br><strong>Fax:</strong>   +91 80 2360 0404 </p>
          </div>
          <div class="contact-info">
            <h2 class="heading">IISc</h2>
            <p class="address">Indian Institute of Science,
            <br>CV Raman Road,
            <br>Bangalore – 560012, India</p>
            <p class="email"><strong>Email:</strong> <a href="mailto:chair.icwar@iisc.ac.in"> chair.icwar@iisc.ac.in</a>
            <br><strong>Tel.: </strong>   +91 80 2293 2228
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box shadow">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" required>
            </div>
            <div class="form-group col-md-6">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" required>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" required>
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" id="message" rows="5" placeholder="Enter your message"></textarea>
          </div>
          <button type="submit" class="button btn-primary">Submit</button>
        </form>
        </div>
      </div>
    </div>
  </div>
