/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Numans;
  src: url('./assets/fonts/Numans/Numans-Regular.ttf');
}
@font-face {
  font-family: LibreBaskerville-Bold;
  src: url('./assets/fonts/libre-baskerville/LibreBaskerville-Bold.ttf');
}
@font-face {
  font-family: LibreBaskerville;
  src: url('./assets/fonts/libre-baskerville/LibreBaskerville-Regular.ttf');
}
*{
  font-family:Numans;
}
html{
  zoom: 70%;//Do not change
}
*{
  // color:black
}


