/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Numans;
  src: url('./assets/fonts/Numans/Numans-Regular.ttf');
}
*{
  font-family:Numans;

}
html{
  zoom: 70%;//Do not change
}
